<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <title>MY Personal Site</title>
</head>

<body>
    <div class="frame">
        <h1>I'm Dushyant</h1>
        <img class="profile" src="../static/profile.png" alt="">
        <div class="skills">
            <ul>
                <li> This is a temp </li>
                <li> Going to space</li>
                <li> Astroid Mining CEO </li>
            </ul>
        </div>
        <form action="">
            <label for="message">Contact Me</label>
            <input name="message" type="text">
            <button>Send</button>
        </form>
    </div>
</body>

</html>